__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.spec
sacrxdexility.dist/
sacrxdexility.onefile-build/
sacrxdexility.exe
config/settings.json
offsets/fflags_dumped.json
offsets/fflags_xref.json
*.log
.DS_Store
Thumbs.db
